<div class="row">

    <div class="col-sm-6" style="text-align: center">
        <h3>Menu</h3>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/unless}}
        {{/each}}
    </div>
    <div class="col-sm-6" style="text-align: center">
        <h3>Burgers  Devoured:</h3>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/if}}
        {{/each}}
    </div>
</div>

<hr>

<h1 class="indexbody">Hungry?... Add a Burger to our Menu</h1>
<div style="text-align: center">
<form class="add-burger">
    <div class="form-group">
        <label for="burgerName"></label>
        <textarea class="form-control" id="burgerName" row="1"></textarea>
    </div>
    <button type="submit" class="btn btn-danger">Add Da Burger</button>
</form>
</div>