* {
    font-family: 'Permanent Marker', cursive;
}
h1 {
    text-align: center;
    color: yellow;
}
.jumbotron {
    background-color: turquoise;
}
body {
    background-color:red;
}
.indexbody {
    color: red;
}

img{
    width: 400px;
    height: 400px;
}